
html,body {
  box-sizing : border-box;
  height     : 100%;
  width      : 100%;
  margin     : 0;
  padding    : 0;
}
body{
  display         : flex;
  height          : 100%;
  width           : 100%;
  flex-direction  : row;
  justify-content : center;
  align-items     : center;
}
.gameBoard {
  position    : relative;
  height      : 100%;
  width       : 100%;
  margin-top  : 50px;
  margin-left : 30px;
}
.box {
  position : absolute;
  height   : 34.6px;
  width    : 30px;
  /*
  sample tile selecting  
  background-position : -72px -64px !important; 

  move one sprite to right: 
  -36px
  move one sprite down and to right: 
  -18px -33 px
  move two sprites down (bottom row):
  0 -66px
  */
}
.spritesheet {
  background      : url('./bgtiles/landhextiles.png') no-repeat;
  background-size : 340% 286%;
  z-index : -10;
}

